.selfPhoto {
    height: 40%;
}
.row1 {
    margin: 10px;
}
.borderRed {
    border: solid 2px red;
}
.borderBlue {
    border: solid 2px blue;
}

.aboutMeText {
    text-indent: 50px;
    float: left;
    border: solid 2px green;
}
footer {
    background-color: #212529;
    color: white;
    padding: 5px;
    position: sticky;
    bottom: 0px;
  }
  .contactMe{
    margin: 2% 20% 8% 20%;
    border: solid 2px grey;
    width: 100%;
    padding: 3% 0% 3% 4%;
    background-color: #555;
    color: azure;
  }
  input {
      width: 90%;
  }
  textarea {
      width: 90%;
  }
  body {
      background: url(../images/skyline.jpg) no-repeat;
      background-size: cover;
  }
  .centerText {
      background-color: #555;
      color: azure;
      margin-top: 2%;
  }