.selfPhoto {
    height: 40%;
}
.row1 {
    margin: 10px;
}
.borderRed {
    border: solid 2px red;
}
.borderBlue {
    border: solid 2px blue;
}

.aboutMeText {
    text-indent: 50px;
    float: left;
    border: solid 2px green;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0px;
  }
  .contactMe{
    margin: 2% 20% 8% 20%;
    border: solid 2px grey;
    width: 100%;
  }
  input {
      width: 90%;
  }
  textarea {
      width: 90%;
  }